@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/bg-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TITULOS */
h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  padding: 10px 25px;
  border-radius: 20px;
  margin-bottom: 30px;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  border-radius: 20px;
  margin-bottom: 30px;
}

/* CONTENEDOR FORM */
.turnero-container {
  background-color: rgba(255, 255, 255, 0.108);
  width: 420px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

/* INPUTS */
input,
select,
button {
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

/* BOTON PRINCIPAL */
button {
  background: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #43a047;
}

/* LISTADO */
.listadoReserva {
  width: 100%;
  max-width: 600px;
}

#listaTurnos {
  list-style: none;
}

/* ITEM TURNO */
.turno-item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* BOTONES DENTRO DEL TURNO */
.turno-item button {
  width: auto;
  padding: 8px 15px;
  margin-top: 10px;
  margin-right: 5px;
}

/* EDITAR */
.btn-editar {
  background-color: #fbc02d;
  color: black;
  border-radius: 20px;
}

.btn-editar:hover {
  background-color: #f9a825;
}

/* ELIMINAR */
.btn-eliminar {
  background-color: #e53935;
  color: white;
  border-radius: 20px;
}

.btn-eliminar:hover {
  background-color: #d32f2f;
}
